#cabeçalho{
    display: flex;
    justify-content: space-around;
    height: 50px;
    font-size: 16px;
    font-weight: bold;
    color: black;
   
}
#logo{ 
display: flex;
justify-content: left;
height: 50px;
width: 50px;
border: 0px solid;
border-radius: 100px;
}
#sobre ,#projetos, #contato{
  margin-top: 15px;
}

#conteudo1{
    display: flex;
    justify-content: center;
    background-color: #f7f7f7;
    height: 700px;
}
#conteudo2{
    display: flex;
    justify-content: center;
    background-color: rgb(2, 49, 34);
    height: 700px;
}
#conteudo3{
    display: flex;
    justify-content: center;
    background-color: aquamarine;
    height: 700px;
}
#conteudo4{
    display: flex;
    justify-content: center;
    background-color: rgb(2, 49, 34);
    height: 700px;
}
#rodape{
    display: flex;
    justify-content: center;
    background-color: beige;
}
* {
    padding: 0;
    margin: 0;
  }